// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
// $background-color:  #ec663c;
$background-color:  #239B56;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-big {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    text-align: center;
    font-size:20px;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }
  .big{
    text-align: center;
    font-size:50px;
  }

}
