<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-unordered="true" data-title="Scenario of the Day"  data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="full" data-view ="Full"  data-moreinfo=""></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="barchart" data-view ="BarChart" data-title="Bar Chart" data-moreinfo=""></div>
    </li> -->
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div  data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li> -->


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Insights" data-moreinfo="# number of steps"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="big" data-view="Big" data-unordered="true" data-title="Biggest .feature File" data-event-click="redirect" data-moreinfo="click for feature file" ></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li> -->

    <!-- <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
    </li> -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="piechart" data-view ="PieChart" data-title="Pie Chart" data-moreinfo="" style="background-color:#ff9618"></div>
    </li>


  </ul>
  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
<!-- data-text="This is your shiny new dashboard." -->
<!-- onclick="location.href='https://gitlab.com/stefsot/msc-it-project/raw/master/coreNlp/bigFile.txt'" -->
<!-- onclick="location.href='https://gitlab.com/stefsot/msc-it-project/raw/master/coreNlp/bigFile.txt'" -->
