// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;
// $background-color:  #D1F590;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-size: 35px;
  }

  li {
    margin-bottom: 5px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }
  .text{
    text-align: center;
    font-size: 15px;
  }

  // &.large h3 {
  //    font-size: 65px;
  // }
}
