<!-- <h1 class="title" data-bind="title"></h1>

<h3 class="text" data-bind="text"></h3>

<p class="more-info" data-bind="moreinfo"></p>

<p class="updated-at" data-bind="updatedAtMessage"></p> -->
<h1 class="title" data-bind="title"></h1>

<li data-foreach-item="text">
  <p class="text" data-bind="item"></p>
</li>



<!-- <p class="text" data-bind="text"></p> -->



<!-- <p class="more-info" data-bind="moreinfo"></p>
<p class="updated-at" data-bind="updatedAtMessage"></p> -->
